{% extends "./base.html" %}

{% block content %}

<form method="post" action="regist">
<input type="hidden" name="{{ register_request_token.label }}" value="{{ register_request_token.value }}" />
<input type="hidden" name="{{ regist_status.label }}" value="{{ regist_status.value }}" />
<input type="hidden" name="{{ regist_type.label }}" value="{{ regist_type.value }}" />
{% csrf_token %}
<div>
<table>
</tr>
<tr> <td>
You granted this access token to a third party: <br>
register_access_token: {{ register_access_token.value }} 
</td> </tr>
<tr> <td>
In return, you got a access token from this third party: <br>
registrant_access_token: {{ registrant_access_token.value }} 
</td> </tr>
<tr> <td>
Do you want to activate this grant, so that this third party can start to access under control?<br>
<input type="submit" name="{{ regist_activate_action.label }}" value="{{ regist_activate_action.activate }}" />
</td> </tr>
</table>
</div>

</form>

{% endblock %}

