{% extends "./base.html" %}

{% block content %}

<form method="post" action="./owner_grant">
{% csrf_token %}
GRANT to register on following catalog
<table>
<tr>
  <td>{{ callback.label }}</td>
  <td>{{ callback.value }}</td>
</tr>
<tr>
  <td>{{ token.label }}</td>
  <td>{{ token.value }}</td>
</tr>
<tr>
  <td>{{ scope.label }}</td>
  <td>{{ scope.value }}</td>
</tr>
<tr>
  <td><input type="submit" name="grant_action" value="{{ action.allow }}" /></td>
  <td><input type="submit" name="grant_action" value="{{ action.decline }}" /></td>
</tr>
</table>
<input type="hidden" name="user_id" value="{{ user_id }}" />
<input type="hidden" name="redirect_token" value="{{ redirect_token }}" />
</form>

{% endblock %}

